nz-date-picker {
    margin: 0 8px 12px 0;
    margin-left: 800px;
    width: 300px;
  }
  h2{
    text-align: center;
    margin-top: 200px;
  }
  button{
    margin: auto;
    display: block;
    width: 300px;
  }