nz-date-picker {
    margin: auto;
    display: block;
    width: 300px;
  }
  h2{
    text-align: center;
    margin-top: 200px;
  }
  button{
    margin: auto;
    display: block;
    width: 300px;
  }

  nz-select
  {
    margin: auto;
    display: block;
    width: 300px;
  }
