<div class="search">
<nz-input-group [nzSuffix]="suffixIconSearch" >
  <input type="text" nz-input placeholder="input pharmacy name or town " [(ngModel)]="searchValue"/>
</nz-input-group>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
</div>
<div class="center">
<nz-table #basicTable nzBordered nzTitle="List of pharmacies" [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" 
        [nzSortPriority]="column.priority" 
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data | searchFilter: searchValue">
        <td>{{data.name}}</td>
        <td>{{data.street}}</td>
        <td>{{data.town}}</td>
        <td>{{data.mark}}</td>
      </tr>
    </tbody>
</nz-table>
</div>
