<div nz-row>
    <div nz-col>
        <h3> Dermatologist </h3>
    </div>
    <div nz-col style="margin-left: 10px;">
        <button nz-button nzType="primary" nzShape="circle" (click)="showModal()"><i nz-icon nzType="plus"
                nzTheme="outline"></i></button>
    </div>
</div>

<div nz-row>
    <div nz-col class="search-input">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Search" nzSize="default" [(ngModel)]="search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <button style="background-color: white; border: none; " (click)="searchDermatologist()"><i nz-icon
                    nzType="search"></i></button>
        </ng-template>
    </div>
    <div nz-col>
        <button *ngIf=search style="background-color: white; border: none; height: 33px; background-color: #f0f4f8; " (click)="clearSearch()"><i nz-icon nzType="close"
                nzTheme="outline"></i></button>    
    </div>
</div>
<br>

<nz-modal [(nzVisible)]="isVisible" nzTitle="New dermatologist" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
       
    </ng-container>
</nz-modal>

<nz-table #basicTable [nzData]="dermatologistList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Mark</th>
            <th>Workdays</th>
            <th>Shift</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.surname }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>{{data.gender }}</td>
            <td>{{data.birthday}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td><button nz-button nzType="dashed" (click)="showDeleteConfirm()">Remove</button></td>
        </tr>
    </tbody>
</nz-table>

