<nz-card style="width:400px;" nzTitle="Profile" [nzCover]="coverTemplate" [nzActions]="[actionAdd, actionEdit, actionViewPoints, actionEditPassword]">
    <ng-container *ngFor="let data of data1">
    <nz-card-meta nzTitle="{{data.title}}" nzDescription="{{data.description}}"></nz-card-meta>
    <br>
    </ng-container>
    <ng-container *ngFor="let data of allergies">
        <nz-card-meta nzTitle="{{data.title}}" nzDescription="{{data.description}}"></nz-card-meta>
        <br>
    </ng-container>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionAdd>
    <div (click)="add()" class="action-wrapper" nz-tooltip nzTooltipTitle="Add allergy" nzTooltipPlacement="top">
        <i nz-icon  nzType="plus-circle" nzTheme="outline"></i>
    </div>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Add allergy" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <input nz-input placeholder="Basic usage" [(ngModel)]="value"/>
        <ul nz-list [nzDataSource]="data" nzBordered nzSize="small" >
          <li nz-list-item *ngFor="let item of listOfOptions | filterAllergies:value" nzNoFlex >
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="addAllergy(item)">Add</a>
              </nz-list-item-action>
            </ul>
            {{ item.name }}
          </li>
        </ul>
      </ng-container>
    </nz-modal>
     
  </ng-template>
  <ng-template #actionViewPoints>
    <div (click)="viewPoints()" class="action-wrapper" nz-tooltip nzTooltipTitle="View penalty points" nzTooltipPlacement="top">
      <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
    </div>
    <nz-modal [(nzVisible)]="isVisiblePoint" nzTitle="View penalty points" (nzOnCancel)="handlePoint()" (nzOnOk)="handlePoint()">
      <ng-container *nzModalContent>
        <nz-table #basicTable [nzData]="listOfPoints">
          <thead>
            <tr>
              <th>Date of penalty point</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data.date | date:'yyyy-MM-dd'}}</td>
              <td>{{data.quantity}}</td>
            </tr>
          </tbody>
         
        </nz-table>
        <p>Penalty points in total:<input [(ngModel)]="points" [disabled]="true" ></p>
      </ng-container>
    </nz-modal>
  </ng-template>
  <ng-template #actionEdit>
    <div (click)="edit()" class="action-wrapper" nz-tooltip nzTooltipTitle="Edit profile" nzTooltipPlacement="top">
    <i nz-icon  nzType="edit"></i>
    </div>
  </ng-template>
  <ng-template #actionEditPassword>
    <div (click)="editPassword()" class="action-wrapper" nz-tooltip nzTooltipTitle="Edit password" nzTooltipPlacement="top">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
    </div>
    <nz-modal [(nzVisible)]="isVisible2" nzTitle="Change password" (nzOnCancel)="handleCancel2()" (nzOnOk)="submitForm2()"
    nzOkText="Submit">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm2">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Old password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="20" nzErrorTip="Please input your old password!">
                    <input nz-input type="password" id="oldPpassword" formControlName="oldPassword"
                        style="margin-left:15px;" />
                    <span *ngIf="validateForm2.controls['password'].errors?.required &&
                        validateForm2.controls['password'].touched" style="color: red; margin-left: 0.8vw;"> Enter your old
                            password <br></span>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>New password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="20" nzErrorTip="Please input your new password!">
                    <input nz-input type="password" id="password" formControlName="password"
                        style="margin-left:15px;" />
                    <span *ngIf="validateForm2.controls['password'].errors?.required &&
                        validateForm2.controls['password'].touched" style="color: red; margin-left: 0.8vw;"> Enter your
                            password <br></span> <!--(ngModelChange)="updateConfirmValidator()"-->
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl3">
                    <input nz-input type="password" formControlName="checkPassword" id="checkPassword"
                        style="margin-left:15px;" />
                    <ng-template #errorTpl3 let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                <div style="margin-left:15px;">
                                    Please confirm your password!
                                </div>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('confirm')">
                                <div style="margin-left:15px;">
                                    Two passwords that you enter is inconsistent!
                                </div>
                            </ng-container>
                        </ng-template> 
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
</ng-template>

