<nz-card style="width:400px;" nzTitle="Profile" [nzCover]="coverTemplate" [nzActions]="[actionAdd, actionEdit, actionViewPoints]">
    <ng-container *ngFor="let data of data1">
    <nz-card-meta nzTitle="{{data.title}}" nzDescription="{{data.description}}"></nz-card-meta>
    <br>
    </ng-container>
    <ng-container *ngFor="let data of allergies">
        <nz-card-meta nzTitle="{{data.title}}" nzDescription="{{data.description}}"></nz-card-meta>
        <br>
    </ng-container>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionAdd>
    <div (click)="add()" class="action-wrapper" nz-tooltip nzTooltipTitle="Add allergy" nzTooltipPlacement="top">
        <i nz-icon  nzType="plus-circle" nzTheme="outline"></i>
    </div>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Add allergy" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <input nz-input placeholder="Basic usage" [(ngModel)]="value"/>
        <ul nz-list [nzDataSource]="data" nzBordered nzSize="small" >
          <li nz-list-item *ngFor="let item of listOfOptions | filterAllergies:value" nzNoFlex >
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="addAllergy(item)">Add</a>
              </nz-list-item-action>
            </ul>
            {{ item.name }}
          </li>
        </ul>
      </ng-container>
    </nz-modal>
     
  </ng-template>
  <ng-template #actionViewPoints>
    <div (click)="viewPoints()" class="action-wrapper" nz-tooltip nzTooltipTitle="View penalty points" nzTooltipPlacement="top">
      <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
    </div>
    <nz-modal [(nzVisible)]="isVisiblePoint" nzTitle="View penalty points" (nzOnCancel)="handlePoint()" (nzOnOk)="handlePoint()">
      <ng-container *nzModalContent>
        <nz-table #basicTable [nzData]="listOfPoints">
          <thead>
            <tr>
              <th>Date of penalty point</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data.date | date:'yyyy-MM-dd'}}</td>
              <td>{{data.quantity}}</td>
            </tr>
          </tbody>
         
        </nz-table>
        <p>Penalty points in total:<input [(ngModel)]="points" [disabled]="true" ></p>
      </ng-container>
    </nz-modal>
  </ng-template>
  <ng-template #actionEdit>
    <div (click)="edit()" class="action-wrapper" nz-tooltip nzTooltipTitle="Edit profile" nzTooltipPlacement="top">
    <i nz-icon  nzType="edit"></i>
    </div>
  </ng-template>

