
<h1 nz-typography>Home page</h1>
<button nz-button nzType="primary" (click)="previousConsultations()" nzBlock>List of all previous examinatons</button>
<button nz-button nzType="primary" nzBlock>Examinaton</button>
<button nz-button nzType="primary" (click)="workSchedule()" nzBlock>Work schedule</button>
<button nz-button nzType="primary" nzBlock>Vacation request</button>
<button nz-button nzType="primary" (click)="profile()" nzBlock>Profile</button>
<button nz-button nzType="primary" nzBlock>Schedule examinaton</button>
