<div style="background: #ECECEC;padding:30px;">
    <p><b>Welcome system administrator!!!</b></p>
    <button nz-button nzType="primary" (click)="logOutClick()" id="btn">LogOut</button>
    <div nz-row [nzGutter]="8" style="padding: 20px;">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Register pharmacy">
            <p>You can register new pharmacy</p>
          <button nz-button nzType="primary" (click)="regPhClick()">Register pharmacy</button>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Register user">
            <p>You can register new pharmacy admin, dermatologist and supplier</p>
            <button nz-button nzType="primary" (click)="regPhAdminClick()">Register</button>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Add medicine">
          <p>You can add new medicine in the system</p>
          <button nz-button nzType="primary" (click)="addMedicine()">Add medicine</button>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8" style="padding: 20px;">
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Complaint answers">
              <p>You can answer on patient complaints</p>
              <button nz-button nzType="primary" (click)="addAnswer()">Answer</button>
            </nz-card>
          </div>
    </div>
  </div>
