<div style="background: #ECECEC;padding:30px;">
    <p><b>Welcome system administrator!!!</b></p>
    <div nz-row [nzGutter]="8" style="padding: 20px;">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Register pharmacy">
            <p>You can register new pharmacy</p>
          <button nz-button nzType="primary" (click)="regPhClick()">Register pharmacy</button>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Register pharmacy admin">
            <p>You can register new pharmacy admin</p>
            <button nz-button nzType="primary" (click)="regPhAdminClick()">Register pharmacy admin</button>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Register dermatologist">
          <p>You can register new dermatologist</p>
          <button nz-button nzType="primary" >Register dermatologist</button>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8" style="padding: 20px;">
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Register dermatologist">
              <p>You can register new dermatologist</p>
              <button nz-button nzType="primary" >Register dermatologist</button>
            </nz-card>
          </div>
    </div>
  </div>
