<div nz-row>
    <div nz-col>
        <h3> Medicine </h3>
    </div>
    <div nz-col style="margin-left: 10px;">
        <button nz-button nzType="primary" nzShape="circle" (click)="showModal()"><i nz-icon nzType="plus"
                nzTheme="outline"></i></button>
    </div>
</div>

<div nz-row>
    <div nz-col class="search-input">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Search" nzSize="default" [(ngModel)]="search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <button style="background-color: white; border: none; " (click)="searchMedicine()"><i nz-icon
                    nzType="search"></i></button>
        </ng-template>
    </div>
    <div nz-col>
        <button *ngIf=search style="background-color: white; border: none; height: 33px; background-color: #f0f4f8; "
            (click)="clearSearch()"><i nz-icon nzType="close" nzTheme="outline"></i></button>
    </div>
</div>
<br>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add medicine" (nzOnCancel)="handleCancel()" (nzOnOk)="addMedicineQuantity()">
    <ng-container *nzModalContent>
        <nz-select [(ngModel)]="medicineId">
            <nz-option *ngFor="let item of medicineDifference" [nzLabel]="item.name" [nzValue]="item.id">></nz-option>
        </nz-select>
    </ng-container>
</nz-modal>

<nz-table #basicTable [nzData]="medicineList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Shape</th>
            <th>Manufacturer</th>
            <th>Issuing mode</th>
            <th>Quantity</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.shape }}</td>
            <td>{{ data.manufacturer }}</td>
            <td>{{data.issuingMode }}</td>
            <td>{{data.quantity }}</td>
            <td>{{data.notes}}</td>
            <td></td>
            <td></td>
            <td><button nz-button nzType="dashed" (click)="showDeleteConfirm()">Remove</button></td>
        </tr>
    </tbody>
</nz-table>