.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ECECEC;
    padding:30px;
}

[nz-row]{
    min-height: 300px;
    min-width: 800px;
}

h1 {
    width:500px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
   
}