<form nz-form [formGroup]="validateForm2" (ngSubmit)="submitForm2()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Old password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="20" nzErrorTip="Please input your old password!">
            <input nz-input type="password" id="oldPpassword" formControlName="oldPassword"
                style="margin-left:15px;" />
            <span *ngIf="validateForm2.controls['password'].errors?.required &&
                validateForm2.controls['password'].touched" style="color: red; margin-left: 0.8vw;"> Enter your old
                    password <br></span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>New password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="20" nzErrorTip="Please input your new password!">
            <input nz-input type="password" id="password" formControlName="password"
                style="margin-left:15px;" />
            <span *ngIf="validateForm2.controls['password'].errors?.required &&
                validateForm2.controls['password'].touched" style="color: red; margin-left: 0.8vw;"> Enter your
                    password <br></span> <!--(ngModelChange)="updateConfirmValidator()"-->
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl3">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword"
                style="margin-left:15px;" />
            <ng-template #errorTpl3 let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        <div style="margin-left:15px;">
                            Please confirm your password!
                        </div>
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                        <div style="margin-left:15px;">
                            Two passwords that you enter is inconsistent!
                        </div>
                    </ng-container>
                </ng-template> 
        </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="default" nzBlock>Change password</button>
</form>
