<div class="center">
    <nz-table #basicTable nzBordered nzTitle="List of consultations" [nzData]="listOfData">
        <thead>
          <tr>
            
            <th>Pharmacist</th>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" 
            [nzSortPriority]="column.priority" >{{ column.title }}</th>
            <th>Pharmacist notes</th>
            <th>Prescribed medicine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.pharmacist}}</td>
            <td>{{data.date | date:'yyyy-MM-dd'}}</td>
            <td>{{data.time}}</td>
            <td>{{data.mark}}</td>
            <td>{{data.price}}</td>
            <td>{{data.notes}}</td>
            <td>{{data.medicine}}</td>
          </tr>
        </tbody>
    </nz-table>
    <button nz-button nzType="default" (click) = "back()" nzBlock>Back to profile</button>
    </div>
