
<h1 nz-typography>Home page</h1>
<button nz-button nzType="primary" nzBlock>List of all previous clients</button>
<button nz-button nzType="primary" nzBlock>Consultation</button>
<button nz-button nzType="primary" (click)="workSchedule()" nzBlock>Work schedule</button>
<button nz-button nzType="primary" nzBlock>Prescriptions</button>
<button nz-button nzType="primary" nzBlock>Day off</button>
<button nz-button nzType="primary" (click)="profile()" nzBlock>Profile</button>
<button nz-button nzType="primary" nzBlock>Schedule consultation</button>