<div nz-row>
    <div nz-col>
        <h3> Admin profile </h3>
        <br>
    </div>
</div>

<div nz-col>
    <div nz-row> <label> Name </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Surname </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Gender </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Date of birth </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Email </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Phone </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Street </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Town </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>
    <div nz-row> <label> Country </label></div>
    <div nz-row> <input class="adminProfile" disabled></div>
    <br>

</div>
