<div nz-row>
    <div nz-col>
        <h3> Admin profile </h3>
        <br>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Edit profile" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()"
    nzOkText="Submit">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input id="name" formControlName="name" (ngModelChange)="updateNameValidator()"
                        style="margin-left:15px;" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('name')">
                            <div style="margin-left:15px;">
                                Name form is not valid.
                            </div>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="surname">Surname</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl2">
                    <input nz-input id="surname" formControlName="surname" (ngModelChange)="updateSurnameValidator()"
                        style="margin-left:15px;" />
                    <ng-template #errorTpl2 let-control>
                        <ng-container *ngIf="control.hasError('surname')">
                            <div style="margin-left:15px;">
                                Surname form is not valid.
                            </div>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Street</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid street!">
                    <input nz-input id="street" formControlName="street" style="margin-left:15px;margin-right: 5px;" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Town</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid town!">
                    <input nz-input id="town" formControlName="town" style="margin-left:15px;margin-right: 5px;" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">State</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select style="margin-left:15px;" formControlName="state">
                        <nz-option nzValue="Afganistan" nzLabel="Afganistan">Afghanistan</nz-option>
                        <nz-option nzValue="Albania" nzLabel="Albania">Albania</nz-option>
                        <nz-option nzValue="Algeria" nzLabel="Algeria">Algeria</nz-option>
                        <nz-option nzValue="American Samoa" nzLabel="American Samoa">American Samoa</nz-option>
                        <nz-option nzValue="Andorra" nzLabel="Andorra">Andorra</nz-option>
                        <nz-option nzValue="Angola" nzLabel="Angola">Angola</nz-option>
                        <nz-option nzValue="Anguilla" nzLabel="Anguilla">Anguilla</nz-option>
                        <nz-option nzValue="Antigua & Barbuda" nzLabel="Antigua & Barbuda">Antigua & Barbuda</nz-option>
                        <nz-option nzValue="Argentina" nzLabel="Argentina">Argentina</nz-option>
                        <nz-option nzValue="Armenia" nzLabel="Armenia">Armenia</nz-option>
                        <nz-option nzValue="Aruba" nzLabel="Aruba">Aruba</nz-option>
                        <nz-option nzValue="Australia" nzLabel="Australia">Australia</nz-option>
                        <nz-option nzValue="Austria" nzLabel="Austria">Austria</nz-option>
                        <nz-option nzValue="Azerbaijan" nzLabel="Azerbaijan">Azerbaijan</nz-option>
                        <nz-option nzValue="Bahamas" nzLabel="Bahamas">Bahamas</nz-option>
                        <nz-option nzValue="Bahrain" nzLabel="Bahrain">Bahrain</nz-option>
                        <nz-option nzValue="Bangladesh" nzLabel="Bangladesh">Bangladesh</nz-option>
                        <nz-option nzValue="Barbados" nzLabel="Barbados">Barbados</nz-option>
                        <nz-option nzValue="Belarus" nzLabel="Belarus">Belarus</nz-option>
                        <nz-option nzValue="Belgium" nzLabel="Belgium">Belgium</nz-option>
                        <nz-option nzValue="Belize" nzLabel="Belize">Belize</nz-option>
                        <nz-option nzValue="Benin" nzLabel="Benin">Benin</nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl4">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <input formControlName="phone" (ngModelChange)="updatePhoneValidator()" id="'phoneNumber'"
                            style="margin-left:15px;" nz-input />
                    </nz-input-group>
                    <ng-template #errorTpl4 let-control>
                        <ng-container *ngIf="control.hasError('numbers')">
                            <div style="margin-left:15px;">
                                Phone is not in valid form.
                            </div>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible2" nzTitle="Change password" (nzOnCancel)="handleCancel2()" (nzOnOk)="submitForm2()"
    nzOkText="Submit">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm2">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Old password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="20" nzErrorTip="Please input your old password!">
                    <input nz-input type="password" id="oldPpassword" formControlName="oldPassword"
                        style="margin-left:15px;" />
                    <span *ngIf="validateForm2.controls['password'].errors?.required &&
                        validateForm2.controls['password'].touched" style="color: red; margin-left: 0.8vw;"> Enter your
                        old
                        password <br></span>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>New password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="20" nzErrorTip="Please input your new password!">
                    <input nz-input type="password" id="password" formControlName="password"
                        style="margin-left:15px;" />
                    <span *ngIf="validateForm2.controls['password'].errors?.required &&
                        validateForm2.controls['password'].touched" style="color: red; margin-left: 0.8vw;"> Enter your
                        password <br></span>
                    <!--(ngModelChange)="updateConfirmValidator()"-->
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl3">
                    <input nz-input type="password" formControlName="checkPassword" id="checkPassword"
                        style="margin-left:15px;" />
                    <ng-template #errorTpl3 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            <div style="margin-left:15px;">
                                Please confirm your password!
                            </div>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            <div style="margin-left:15px;">
                                Two passwords that you enter is inconsistent!
                            </div>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>



<div nz-col>
    <div nz-row> <label> Name </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=name disabled></div>
    <br>
    <div nz-row> <label> Surname </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=surname disabled></div>
    <br>
    <div nz-row> <label> Date of birth </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=date disabled></div>
    <br>
    <div nz-row> <label> Email </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=email disabled></div>
    <br>
    <div nz-row> <label> Phone </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=phone disabled></div>
    <br>
    <div nz-row> <label> Street </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=street disabled></div>
    <br>
    <div nz-row> <label> Town </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=town disabled></div>
    <br>
    <div nz-row> <label> Country </label></div>
    <div nz-row> <input class="adminProfile" [(ngModel)]=country disabled></div>
    <br>
    <div nz-row>
        <button nz-button nzType="default" (click)="showModal()"> Edit profile </button>
        <button style="margin-left: 2vw;" nz-button nzType="default" (click)="showModal2()"> Change password </button>
    </div>

</div>